body {
	background-color: #F4F4F4;
}



/* General Mechanics
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.left {
	float: left;
}

.right {
	float: right;
}

.title {
	margin-top: 60px;
}

.section-spacer {
	margin-top: 30px;
}



/* Sections */

.section-title {
	font-size: 3.5rem;
	font-weight: 400;

}

.section-header {
	font-size: 2rem;
	font-weight: 700;
}

.section-summary {
	font-size: 1.6rem;
	line-height: 27px;
	color: #666;
}





/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
	height: 380px;
}

.nav-row {
	padding-top: 14px;
}

.logo {
	margin-left: 30px;
}

.report-title {
	display: inline;
	font-size: 2rem;
	font-weight: 300;
	text-shadow: 1px 1px 2px #555;
	color: #fff;
	margin-left: 20px;
	vertical-align: baseline;
}

.export {
	margin:0 30px 0 15px;
}

.hero {
	background-image: url(http://i.imgur.com/i4imH6L.png);
	background-size: cover;
}

/*Event Details*/

.event-details {
	padding-top: 60px;
}

.hero-title {
	font-size: 4rem;
	font-weight: 700;
	color: #fff;
	margin-bottom: 10px;
}

.hero-subtitle {
	font-size: 3rem;
	font-weight: 300;
	color: #fff;
	margin-bottom: 10px
}

.hero-date {
	font-size: 2.5rem;
	font-weight: 700;
	color: #fff;
}

/*Font Awesome CSS */

i.fa{
	font-size: 13px;
}

i {
	margin-left: 2px;
	display: inline-block;
}


/* Executive Summary
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.narrative {
	width: 231px;
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 26.88px;
	color: #15223C;
}

.gauge-title {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 700;
	margin-top: 9px;
	color: #15223C;
}

/* Candidate Insights
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Student Migration
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.map-title {
	text-align: center;
	font-weight: 700px;
	font-size: 18px;
}


.map {
	max-width: 380px;
}

.table-small{
	width: 92.83%;
	box-sizing: border-box;
}

.explanation {
	font-size: 1.4rem;
	line-height: 24px;
	font-weight: 400;
}


/* Reported Degree Levels & Graduation Date
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.pie {
	text-align: center;
	margin-top: 30px;
}

.circle {
	display: inline-block;
	border-radius: 6px;
    height: 12px;
    margin-right: 5px;
    width: 12px;
}
/*
.last {
	border-bottom: 1px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-left-color: #DEDEDE;
	box-shadow: 0 1px 2px rgba(0,0,0,.2)
}
*/

/* Circle Colors */

.first { background-color: #55BCF5; }
.second { background-color: #BBE5DF; }
.third { background-color: #70A6B8; }
.fourth { background-color: #6AD5BB; }
.fifth { background-color: #1185C4; }

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.app-footer {
	color: #666;
	font-size: 1.3rem;
	height: 60px;
	min-width: 944px;
	padding: 20px 4px;
	text-align: center;
}

.app-footer ul {
	list-style-type: none;
}

.app-footer li {
	display: inline-block;
}

.app-footer li:first-child:before {
	content: "";
	margin: 0;
}

.app-footer li:before{
	content: "|"
	margin: 0 8px;
	color: #aaa;
}

li > a {
	text-decoration: none;
}
