/* General Mechanics */

.left {
	float: left;
}

.right {
	float: right;
}

/* Sections */


/*Hero*/

.hero {
	background-image: url(http://i.imgur.com/ZrC2Vrh.jpg);
	background-size: cover;
}

.event-details {
	color:#ffffff;
}

/*Executive Summary*/

